{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
          <div class="container">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                    {% include './icons/file-earmark-plus.svg' %}
                </a>
            {% endif %}
            <h1><a href="https://djangogirls.org/en/antananarivo/" target="_blank">Django Girls </a></h1>
            <h2>Atelier de programmation en ligne gratuit pour les femmes</h2>
            
          </div>
        </header>
        <main class="content container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
        <aside class= "navigation">
            <h1> BLog</h1>
            <nav>
                <ul>
                    <li>Acceuil</li>
                    <li>Expérience</li>
                    <li>A propos de Django</li>
                </ul>
            </nav>
        </aside>
        <aside class="apropos">
            <h2>A propos de moi</h2>
        </aside>
    </body>
</html>